<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear" menu-toggle="right">
            <div class="col col-10">
                <img src="img/Kaffe-img/-_cart.png" class="cart">
            </div>
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear" menu-toggle="right">
            <div class="col col-90">
                <img src="img/Kaffe-img/-_back.png" class="back">
            </div>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-content>
        <div>
            <div class="Mybasket">
                <img src="img/Kaffe-img/-_cart.png" class="Basket">
                <h4>My Basket</h4>
                <hr class="hr-basket">
                <p class="text-basket">You haven´t ordered</p>
                <p class="text-basket">anything</p>
            </div>
        </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
