<ion-view>
  <ion-content>
      <div class="row">
            <div class="col col-25"></div>
            <div class="col col-10">
                <img src="img/Kaffe-img/-_prev-coffee%201.png" class="coffe-order">
            </div>
            <div class="col col-90">
                <p class="order-p"><strong>Caffe Avenue</strong></p>
                <img src="img/Kaffe-img/-_Rating 4 stars.png" class="order-stars">
            </div>
        </div>
        <!--esto es para el div oscuro que va abajo para que el texto sea legible-->  
        <!--<div class="row div-dark">
            <div class="col"></div>
        </div>-->
        <div class="Beverages">
            <div class="row">
                <div class="col col-40"></div>
                <p class="Beverages-text">
                    <strong>Beverages</strong>
                </p>
                <div class="col col-40"></div>
            </div>
        </div>
        <div class="row">
            <div class="col col-40"></div>
            <div class="cuadro-naranja"></div>
            <div class="col col-40"></div>
        </div>
      <div>
          <img src="img/Kaffe-img/-_img1 coffee.png" class="cappuccino">
      </div>
        <div class="order-cappuccino">
            <div class="row">
                <p class="nombres-text">Cappuccino</p>
                <div class="col col-40"></div>
                <div class="col col-10">
                    <p class="dolar-text">
                        <strong>$4</strong>
                    </p>
                </div>
            </div>
        </div>
      <div>
          <img src="img/Kaffe-img/-_img2 coffee.png" class="Lemon-tea">
      </div>
        <div class="order-cafes">
            <div class="row">
                <p class="nombres-text">Lemon Tea</p>
                <div class="col col-40"></div>
                <div class="col col-10">
                    <p class="dolar-text">
                        <strong>$4</strong>
                    </p>
                </div>
            </div>
        </div>
      <div>
          <img src="img/Kaffe-img/-_img3 coffee.png" class="Lemon-tea">
      </div>
        <div class="order-cafe">
            <div class="row">
                <p class="nombres-text">Mocaccino</p>
                <div class="col col-40"></div>
                <div class="col col-10">
                    <p class="dolar-text">
                        <strong>$4</strong>
                    </p>
                </div>
            </div>
        </div>
  </ion-content>
</ion-view>