<ion-view view-title="Cafe Avenue">
      <ion-content>
          <!--Aqui se ingreso la imagen del cafe prev-->
          <div class="row">
            <div class="col col-47"></div>
            <div class="col col-10">
                  <img src="img/Kaffe-img/-_prev-coffee%201.png" class="coffe-prev">
            </div>
            <div class="col col-46"></div>
          </div>
          <div>
              <p class="cafe">Cafe Avenue</p>
          </div>
          <div>
              <img src="img/Kaffe-img/-_Rating%204%20stars.png" class="stars4">
          </div>
          <p class="startext">0.3 mi</p>
          <hr class="interval">
          <!--Todo lo ingresado aqui son imagenes-->
          <div class="row">
              <div class="col col-25"></div>
              <div class="col col-25">
                  <img src="img/Kaffe-img/-_ic-wifi.png" class="images"> <p class="image-text">WIFI</p>
              </div>
              <div class="col">
                  <img src="img/Kaffe-img/-_ic-drivethru.png" class="images"> <p class="image-text">Drive-Thru</p>
              </div>
          </div>
          <div class="row row-center">
              <div class="col col-25"></div>
              <div class="col col-25">
                  <img src="img/Kaffe-img/-_ic-parking.png" class="images"> <p class="image-text">Parking</p>
              </div>
              <div class="col">
                  <img src="img/Kaffe-img/-_ic-delivery.png" class="images"> <p class="image-text">Delivery</p>
              </div>
         </div>
          </br></br>
          <!--<hr>-->
          <!--aqui comienzan los cuadros de la informacio-->
          <div class="cuadro-orden">
              <div class="row">
                  <div class="col col-40"></div>
                  <div>
                      <a href="#/app/order" class="order">
                          <img src="img/Kaffe-img/-_button-go-order.png" class="button-order">
                          <p class="order">Order</p>
                      </a>
                  </div>
                  <div class="col col-40"></div>
              </div>
              </br>
              <div class="row">
                  <div class="col col-67">
                      <p class="hora">3467 Coffee Ave.90807</p>
                  </div>
              </div>
              <div class="row">
                  <div class="col col-67">
                      <p class="hora">Los Angeles, CA.</p>
                  </div>
              </div>
          </div>
          <!--<hr>-->
         <div class="cuadro-open">
             </br>
             <div class="row">
                 <div class="col col-33 hora">Mon-Sun</div> 
                 <div class="col col-50 hora">5:00am-10:00pm</div>
                 <div class="col">
                     <p class="open">OPEN</p>
                 </div>
             </div>
         </div>
         <div class="cuadro-friends">
            <div class="row">
                <p class="col hora">Friends who have visited</p>
            </div>   
            <div class="row">
                <div class="col col-25">
                    <img src="img/Kaffe-img/-_profile-friend 2.png" class="friend1">
                    <p>Jane Doe</p>
                </div>
                <div class="col col-33">
                    <img src="img/Kaffe-img/-_profile-friend small 2.png" class="friend1">
                    <p>Arya Smith</p>
                </div>
            </div>
        </div>
         <div class="cuadro-reviews">
             <div class="row">
                 <div class="col">
                     <p class="reviews">Reviews</p>
                 </div>
             </div>
             <hr>
             <div class="row">
                 <div class="col col-25">
                     <p>1 Review</p>
                 </div>
                 <div class="col">
                     <img src="img/Kaffe-img/-_Rating 4 stars.png" class="estrellas">
                 </div>
             </div>
             <div class="row">
                 <div class="col col-20">                 
                     <p class="Jon-snow">
                         <strong>Jon Snow</strong>
                     </p>
                 </div>
                 <div class="col">
                     <img src="img/Kaffe-img/-_Rating 4 stars.png" class="Jon-stars">
                 </div>
             </div>
             <div class="row">
                 <div class="col col-33">                 
                     <p class="text">The cashier was nice with me, but he took a lot of time preparing the coffe.</p>
                 </div>
             </div>
        </div>
         <ion-footer-bar class="final">
             <div class="col col-90"></div>
            <img src="img/Kaffe-img/-_menu-25.png" class="boton-menu">
        </ion-footer-bar>
      </ion-content>
</ion-view>
